<ion-view view-title="Dashboard">
  <ion-content>
    <div class="list card">
      <div class="item item-divider">
        <i class="ion-stats-bars"></i>&nbsp;
        <span class="text-small">Achievements</span>
        <span class="badge badge-assertive">
          {{stat.Resolved * 100 / stat.All | number:2 }}%
        </span>
      </div>
      <div class="item">
        <div class="row row-bottom">
            <div class="col col-50 text-left">Total Questions</div>
            <div class="col col-50 text-right text-big assertive">{{stat.All}}</div>
        </div>

        <div class="row row-bottom">
          <div class="col col-50 text-left text-dashboard">Resolved</div>
          <div class="col col-50 text-right text-dashboard text-big assertive">{{stat.Resolved}}</div>
        </div>

        <div class="row row-bottom">
          <div class="col col-50 text-left text-dashboard">Later (to do)</div>
          <div class="col col-50 text-right text-dashboard text-big">{{stat.Later}}</div>
        </div>

        <div class="row row-bottom">
          <div class="col col-50 text-left text-dashboard">Favorite</div>
          <div class="col col-50 text-right text-dashboard text-big">{{stat.Favorite}}</div>
        </div>
      </div> <!-- end of item -->

      <div class="item item-divider text-small text-right">
        Updated {{last_updated | date:'yyyy-MM-dd HH:mm:ss'}}
      </div>

      <div class="item" ng-show="updating">
        <div class="row row-bottom">
            <div class="col col-50 text-left">Questions Found</div>
            <div class="col col-50 text-right text-big positive">{{updated.questions}}</div>
        </div>

        <div class="row row-bottom">
            <div class="col col-50 text-left text-dashboard">Pages Found</div>
          <div class="col col-50 text-right text-dashboard text-big positive">{{updated.pages}}</div>
        </div>
      </div>

      <div class="item">
        <button class="button button-full button-positive" ng-click="update()" ng-disabled="updating">
          Update new questions
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
