<ion-view view-title="Dashboard">
  <ion-content>
    <div class="list card">
      <div class="item item-divider">
        <span>Achievements</span>
        <span class="badge badge-assertive">
          {{count.Resolved * 100 / count.All | number:2 }}%
        </span>
      </div>
      <div class="item">
        <div class="row row-bottom">
          <div class="col col-50 text-left">Total Questions</div>
          <div class="col col-50 text-right text-big assertive">{{count.All}}</div>
        </div>

        <div class="row row-bottom">
          <div class="col col-50 text-left text-dashboard">Resolved</div>
          <div class="col col-50 text-right text-dashboard text-big assertive">{{count.Resolved}}</div>
        </div>

        <div class="row row-bottom">
          <div class="col col-50 text-left text-dashboard">Later (to do)</div>
          <div class="col col-50 text-right text-dashboard text-big">{{count.Later}}</div>
        </div>

        <div class="row row-bottom">
          <div class="col col-50 text-left text-dashboard">Favorite</div>
          <div class="col col-50 text-right text-dashboard text-big">{{count.Favorite}}</div>
        </div>
      </div> <!-- end of item -->

      <div class="item item-divider text-right">
        <p>Updated {{last_updated | date:'yyyy-MM-dd HH:mm:ss'}}</p>
      </div>

      <div class="item" ng-show="updating">
        <div class="row row-bottom">
            <div class="col col-50 text-left">Questions Found</div>
            <div class="col col-50 text-right text-big positive">{{updated.questions}}</div>
        </div>

        <div class="row row-bottom">
            <div class="col col-50 text-left text-dashboard">Pages Found</div>
          <div class="col col-50 text-right text-dashboard text-big positive">{{updated.pages}}</div>
        </div>
      </div>

      <div class="item">
        <button class="button button-full button-positive" ng-click="update()" ng-disabled="updating">
          Check update from {{Config.name}}.com
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
