<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <ion-tab title="Dashboard" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tabs/dashboard">
    <ion-nav-view name="tabs-dashboard"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Question" icon-off="ion-ios-paper-outline" icon-on="ion-ios-paper" href="#/tabs/question">
    <ion-nav-view name="tabs-question"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Setting" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tabs/setting">
    <ion-nav-view name="tabs-setting"></ion-nav-view>
  </ion-tab>

</ion-tabs>
