<ion-view view-title="Setting">
  <ion-content>
    <div class="list card">
      <div class="item item-divider">Question Filters</div>
      <div class="item-body">
        <span ng-repeat="f in filters">
          <i class="badge badge-positive badge-line" ng-click="setFilter(f)">{{f.name}}</i>&nbsp;
        </span>
      </div>
      <label class="item item-input item-select">
        <div class="input-label">By Status</div>
        <select ng-model="filter.status">
          <option value="1">All</option>
          <option value="0">UnResolved Only</option>
        </select>
      </label>
      <label class="item item-input item-select">
        <div class="input-label">By Tag</div>
        <select ng-model="filter.tag">
          <option value="">All</option>
          <option ng-repeat="tag in tags">{{tag}}</option>
        </select>
      </label>
      <label class="item item-input item-select">
        <div class="input-label">By Company</div>
        <select ng-model="filter.company">
          <option value="">All</option>
          <option ng-repeat="company in companies">{{company}}</option>
        </select>
      </label>

      <label class="item item-input item-select">
        <div class="input-label">Selection Strategy</div>
        <select ng-model="filter.algo">
          <option ng-repeat="algo in algos">{{algo}}</option>
        </select>
      </label>
    </div>

    <div class="list card">
      <div class="item item-divider">Data Updating</div>
      <ion-toggle toggle-class="toggle-positive" ng-model="updated.wifiOnly" ng-checked="updated.wifiOnly">
        Force WiFi Only
        <i class="ion-alert-circled energized"></i>
      </ion-toggle>
      <ion-toggle toggle-class="toggle-positive" ng-model="updated.full" ng-checked="updated.full">
        Force Full Update
        <i class="ion-alert-circled energized"></i>
      </ion-toggle>
      <label class="item item-input item-select">
        <div class="input-label">Workers Concurrency
          <i class="ion-alert-circled energized"></i>
        </div>
        <select ng-model="updated.workers">
          <option ng-repeat="count in counts">{{count}}</option>
        </select>
      </label>
    </div>

    <div class="list card">
      <div class="item item-divider item-icon-right">Backup/Restore</div>
      <div class="item item-text-wrap">{{filepath}}</div>
      <div class="item item-button-right">Backup to File
        <button class="button button-positive" ng-click="backup()" ng-disabled="IOing">
          <i class="icon ion-ios-upload-outline"></i>
        </button>
      </div>
      <div class="item item-button-right">Restore from File
        <i class="ion-alert-circled energized"></i>
        <button class="button button-positive" ng-click="restore()" ng-disabled="IOing">
          <i class="icon ion-ios-download-outline"></i>
        </button>
      </div>
    </div>

    <div class="list card">
      <div class="item item-divider item-icon-right">About</div>
      <div class="item item-icon-left">
        <i class="icon ion-android-phone-portrait"></i>
        Q.Careercup
        <p class="float-right">v1.2.1</p>
      </div>
      <div class="item item-icon-left">
        <i class="icon ion-social-github"></i>
        GitHub
        <p class="float-right">skygragon/careercup-mobile</p>
      </div>
    </div>
  </ion-content>
</ion-view>
