<ion-view view-title="Question">
  <ion-content>

    <div class="list card" ng-hide="question">
      <div class="item item-divider">No question found?</div>
      <div class="item item-text-wrap">
        Please goto setting tab and modify your current filter setting.
      </div>
    </div>

    <div class="list card" ng-show="question">
      <div class="item item-divider">
        <i class="ion-ios-chatboxes-outline"></i>&nbsp;
        {{question.name}}
        <p class="float-right">{{idx}}/{{count}}</p>
      </div>
      <div class="item item-body item-text-wrap">
        <div class="text-title" ng-show="question.title">
          {{question.title}}
          &nbsp;
          <i class="ion-android-star" ng-repeat="i in range(question) track by $index"></i>
        </div>
        <p ng-show="question.company">{{question.company}}</p>
        <p ng-show="question.levelIndex">
          {{question.levelName}}
          &nbsp;
          <b ng-show="question.rate">{{question.rate | number: 2}}%</b>
          <span class="float-right" ng-show="question.accepts">
            {{question.accepts}} / {{question.submits}}
          </span>
        </p>
        <pre>{{question.data}}</pre>
      </div>
      <div class="item item-divider text-small">
        <a ng-click="open(question.link)">See {{Config.type}}</a>
        <span class="float-right">{{question.time | date:'yyyy-MM-dd HH:mm:ss'}}</span>
      </div>
    </div>

    <div class="list card" ng-show="question">
      <div class="item item-divider">
        <i class="ion-ios-pricetags-outline"></i>&nbsp;
        <span class="text-small">Tags</span>
      </div>
      <div class="item-body item-text-wrap text-small" ng-hide="question.tags.length === 0">
        <span ng-repeat="tag in question.tags">
          <i class="badge badge-assertive badge-line" ng-click="removeTag(tag)">{{tag}}</i>&nbsp;
        </span>
      </div>

      <div class="text-small">
        <ion-toggle toggle-class="toggle-positive" ng-model="tagging" ng-checked="tagging">
          <p>Add Tags</p>
        </ion-toggle>
      </div>
      <div class="item-body item-text-wrap text-small" ng-show="tagging">
        <span ng-repeat="tag in newTags">
          <i class="badge badge-positive" ng-click="addTag(tag)">{{tag}}</i>&nbsp;
        </span>
      </div>

      <div class="item">
        <div class="button-bar">
          <button style="border: 1px solid;" class="button button-positive icon-left ion-chevron-left"
            ng-click="selectQuestion({reversed: true})" ng-disabled="updating" ng-show="sequential">
            Prev
          </button>
          <button style="border: 1px solid;" class="button button-positive icon-right ion-chevron-right"
            ng-click="selectQuestion()" ng-disabled="updating">
            Next
          </button>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
