page-home {
  .dashboard {
    height: 220px;
    text-align: center;
    margin: 0 auto;
    color: white;
    background: linear-gradient(to top,  #66aaff 0%, #488aff 100%);
  }
  .dashline {
    height: 40px;
    color: white;
    background-color: #488aff;
  }
}
