/* Empty. Add your own CSS if you like */
.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }

.text-dashboard { margin-top: 25px; }
.text-big { font-size: 52px; font-family: "HelveticaNeue-CondensedBold" }
.text-normal { font-size: 20px; }
.text-small { font-size: 0.8em; }

.badge-line { margin-top: 8px; }
